.layout {
    align-items: center;
    gap: 48px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.ab_title {
    font-size: var(--h2);
    color: var(--b_);
}

.txt_par, .tt_pro, main {
    text-align: center;
}

.txt_abt, .pro {
    color: var(--txt_opt);
    font-size: 1.6rem;
}

.ah {
    color: var(--b_);
    font-weight: 500;
}

.profile {
    display: grid;
    justify-items: center;
    grid-gap: 32px;
}

.header_pro, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_pro {
    gap: 8px;
}

.he_img {
    height: 80px;
    width: 80px;

    background: var(--blue_black);
    border-radius: 50%;
}

.h4 {
    font-size: 2rem;
    color: var(--b_);
    margin-bottom: 8px;
}

main {
    gap: 32px;
}

/* Projetcs */
.projects {
    display: flex;
    align-items: center;
    gap: 48px;
}

.project {
    height: 250px;
    width: 250px;
    background: none;
}

/* .project:hover {
    background: var(--fill);
    box-shadow: 0px 0px 32px var(--shadow);
} */

.txt_foot {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--b_);
}

.man {
    background: none;
    content: "";
    height: 220px;
    border-radius: 10px 10px 0 0;
    transition: all 0.6s ease-in-out;
}

.man:hover {
    background: var(--b_);
    box-shadow: 0px 0px 32px var(--shadow);
}

.footer {
    z-index: 2;
    text-align: center;
    background: var(--blue);
    border-radius: 0 0 10px 10px;
    height: 30px;
    padding: 5px 0;
}