:root {

    /* length */
    --S_fat_tx: 4.2rem;
    --S_fat_title: 5.4rem;
    --S_open: 3.2rem;
    --C_tittle: 4.0rem;

    /* Fonts */
    --h1: calc(1vw + 3.5rem - 1px);
    --h2: calc(1vw + 2.2rem - 1px);
    --line_a: calc(1.5vh + 4.5rem + 2px);
    --Pop: 'Poppins', sans-serif;

    /* Efects */
    --str: saturate(1);

    /* Colors */
    --b_: #2A314F;
    --blue: #9AB3DA;
    --blue_ligth: #E7ECF3; 
    --blue_spot: #0045FF;   
    --blue_dark: #6082C2;
    --blue_black: rgb(64, 75, 124);
    --back: #f4f4f4;
    --type: #404B7C;
    --fill: #fff;

    --header: #404B7C;
    --footer: #fff;
    --box: #f1f1f1;
    --txt_opt: #707070;

    --shadow: rgb(64 75 124 / 15%);
    --red: #F68D88;
    --red-hov: #f6625a;
    /* --body: #e8ebff; */
}

/* Dark Mode */
[data-theme="dark"] {
    /* --fill: #040910; */
    --box: #283152;
    --footer: #404B7C;
    --txt_opt: #F4F4F4;

    --fill: #f1f1f1;
    --type: #c9d1d9;
    --back: #0b0c14;
    --b_: #f1f1f1;
    --dark_type_p: #344aad;
    --shadow: rgba(0, 0, 0, 0.2);

    /* Img */
    --str: saturate(2);
}

/* Geral */
html {
    font-size: 62.5%;
}

html body {
    background: var(--back);
    font-family: var(--Pop);
    transition: all 0.3s ease-in-out;
}

h1 {
    font-family: var(--Pop);
    font-weight: 800;
}

::placeholder {
    font-family: var(--Pop);
}
/* Geral */

/* Header rules Js */
.header {
    z-index: 25;
    width: 100%;
    background: var(--back);
}

.testes {
    position: fixed;
}
  
  .anima {
    animation: anima ease-in-out 5s;
}

img {
    filter: var(--str);
  }
/* Header rules Js */

/* Rules Pricing */
@media (max-width: 1300px) {
    .cards {
        flex-direction: column;
        padding: 24px;
    }
}

@media (max-width: 450px) {
    .C_plan {
        width: 100%;
    }

    .txt_c {
        min-width: auto;
    }
}

@media (max-width: 1150px) {
    .dt_cards {
        flex-direction: column;

    }
}

@media (max-width: 1160px) {
    .init {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 48px;
    }

    .name_f {
        top: 0;
    }
}

@media (max-width: 610px) {
    .F_nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 360px) {
    .dt_c {
        width: 100%;
    }
}

/* Dark Mode */
.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dark {
    z-index: 100;
    background: #344aad;
    border-radius: 50%;
    left: 40px;
    bottom: 40px;
    line-height: 6px;
}

#dark_mode {
    opacity: 0;
    appearance: none;
}

.lab_dark {
    cursor: pointer;
}

.lab_dark svg {
    transition: all 0.5s ease-in-out 
}

.lab_dark svg:hover {
    transform: scale(1.2) rotate(15deg);
}
/* Dark Mode */

/* Chat */
.i_bfixed {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    z-index: 100;
}

.chat_i {
    cursor: pointer;
    right: 0;
    position: absolute;
    bottom: 0;
}

.chat {
    position: fixed;
    right: 40px;
    bottom: 40px;
}
/* Chat */
.chat_meet {
    height: 680px;
    width: 400px;
    border-radius: 5px;

    background: var(--box);
    color: #fff;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);

    /* display: flex; */
    justify-content: space-between;
    flex-direction: column;

    display: none;
}

.header_chat {
    background: var(--header);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.ch_para {
    height: 96px;
    padding: 10px 12px;
    border-radius: 5px 5px 0 0;
}

.form_Input {
    display: flex;
    align-items: inherit;
    justify-content: space-between;
}

.form_Input .btn_sub_input {
    background: none;
    border: none;
    cursor: pointer;
}

.lu-mode-selec {
    opacity: 80%;
    mix-blend-mode: luminosity;
    cursor: no-drop;
}

.t_chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_chat {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.close_chat {
    height: 20px;
    cursor: pointer;
}

.tittle_chat {
    font-size: 1.4rem;
    font-weight: 500;
}

.txt_chat {
    font-size: 1.2rem;
    font-weight: 300;
}

.opt_img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.img_c {
    height: 24px;
}

/* Main */
.main_chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    padding: 12px;
    width: 400px;
    height: 488px;
    overflow: auto;
}

.chat_m {
    display: flex;
    align-items: inherit;
    gap: 8px;
}

.message {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    max-width: 300px;

    transition: all 1s ease-in-out;
} 

.res_chat {
    transition: all 1s ease-in-out;

}

.a_pri {
    color: #0045FF;
    font-size: 1.2rem;
    text-decoration: underline;
}

.chat_mess {
    padding: 8px;
    font-size: 1rem;
    background: #404B7C;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.chat_res {
    padding: 8px;
    font-size: 1rem;
    background: #fff;
    color: #000;
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.img_res {
    height: 30px;
}
/* Main */


.footer_chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--footer);
    border-top: 1px solid #404b7c;
    border-radius: 0 0 5px 5px;
}

.fo_txt {
    text-align: center;
}

.p_ch_txt {
    color: var(--b_);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 14px;
}

.m_help {
    background: none;
    border: none;
    font-family: unset;
    outline: none;
    resize: none;
    line-height: 21px;
    font-size: 1.2rem;
}

[data-theme = "ligth"] .m_help {
    opacity: 0.5;
}

[data-theme = "dark"] .m_help {
    opacity: 1;
}

.opt_chat {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.opt_txt {
    padding: 2px 6px;
    border-radius: 5px;
    background: var(--box);
    color: var(--txt_opt);
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
}